.curtan {
  display: none;
  opacity: 0;
}

.curtain-show {
  -webkit-animation: 1s curtain-fade-in;
  -moz-animation: 1s curtain-fade-in;
  -o-animation: 1s curtain-fade-in;
  animation: 1s curtain-fade-in;
}

.curtain-fade-in () {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    display: block;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
    // animation-play-state: pause;
  }
}

@-webkit-keyframes curtain-fade-in { .curtain-fade-in; }
@-moz-keyframes curtain-fade-in { .curtain-fade-in; }
@-o-keyframes curtain-fade-in { .curtain-fade-in; }
@keyframes curtain-fade-in { .curtain-fade-in; }

.curtain-hide {
  -webkit-animation: 1s curtain-fade-out;
  -moz-animation: 1s curtain-fade-out;
  -o-animation: 1s curtain-fade-out;
  animation: 1s curtain-fade-out;
}

.curtain-fade-out () {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none !important;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
    // animation-play-state: pause;
  }
}

@-webkit-keyframes curtain-fade-out { .curtain-fade-out; }
@-moz-keyframes curtain-fade-out { .curtain-fade-out; }
@-o-keyframes curtain-fade-out { .curtain-fade-out; }
@keyframes curtain-fade-out { .curtain-fade-out; }