.curtain {
  display: block;
  opacity: 0;
  height: 60px;
  width: 100%;
  padding: 0;
  margin-top: 38px;
  text-align: center;
  position: absolute;
}
.curtain h3 {
  color: whitesmoke;
  background-color: rgba(100, 100, 100, 0.3);
}
.curtain-show {
  -webkit-animation: 1s curtain-fade-in;
  -moz-animation: 1s curtain-fade-in;
  -o-animation: 1s curtain-fade-in;
  animation: 1s curtain-fade-in;
}
@-webkit-keyframes curtain-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
@-moz-keyframes curtain-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
@-o-keyframes curtain-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
@keyframes curtain-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
.curtain-hide {
  -webkit-animation: 1s curtain-fade-out;
  -moz-animation: 1s curtain-fade-out;
  -o-animation: 1s curtain-fade-out;
  animation: 1s curtain-fade-out;
}
@-webkit-keyframes curtain-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
@-moz-keyframes curtain-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
@-o-keyframes curtain-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
@keyframes curtain-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-animation-play-state: pause;
    -moz-animation-play-state: pause;
    -o-animation-play-state: pause;
  }
}
